.box{
    width: 33.3%;
    height: 50px;
    box-sizing: border-box;
}

.box1{
    padding: 10px;
    border: red 5px;
}

.box2{
    padding: 10px;
    border: red 5px;
}

.box3{
    padding: 10px;
    border: red 5px;
}